@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
}
body{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4cbcc;
    font-family: 'Cairo', sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-con{
    /* border: 2px solid black; */
    display: flex;
    height: 30vh;
    width: 40vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    
}

.progress-con li{
    text-decoration: none;
    list-style: none;
    /* margin: 50px 0px; */
}


.progress-con ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
button{
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    background-color: #2968d8;
    margin: 0px 30px;
    color: white;
    font-size: 16px;
}
button:hover{
    background-color:#1451bb ;
}
button:disabled{
    background-color: #b3adad;
    cursor: not-allowed;
}


.progress{
    height: 4px;
    width: 0%;     
    background-color: #2968d8;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: .4s ease-out;
}
.progress-con ul::before{
    content: '';
    height: 4px;
    width: 100%;     
    background-color: #b3adad;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

li{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #b3adad ;
}
.active{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #2968d8;
    transition: border 500ms linear; 
}